/* backlog-table.css */
.backlog-table-scroll-container {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 300px);
}

.backlog-excel-table {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui;
}

.backlog-excel-table-header {
    position: sticky;
    top: 0;
    background: #ECECEC;
}

.backlog-excel-table td, .backlog-excel-table th {
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
}

.backlog-excel-table th {
    font-size: 0.75rem;
    font-weight: 600;
    color: #4B5563;
}

.backlog-excel-table-body tr:nth-child(even) {
    background: #F8F9FD;
}

.backlog-excel-table-body tr:hover {
    background: #FFF0DA;
}

.backlog-selected-row {
    background: #F0F4FF !important;
}

.backlog-row-number-header, .backlog-checkbox-column {
    width: 24px;
    text-align: center;
    padding: 0.2rem;
}

/* Checkbox styles for both backlog-regular-checkbox and regular-checkbox */
.regular-checkbox, .backlog-regular-checkbox {
    width: 14px;
    height: 14px;
    border: 1px solid #999;
    appearance: none;
    border-radius: 0;
    cursor: pointer;
    background: white;
    margin: 0 auto;
    display: block;
}

.regular-checkbox:checked, .backlog-regular-checkbox:checked {
    background: white;
    position: relative;
}

.regular-checkbox:checked:after, .backlog-regular-checkbox:checked:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} 